*{
    font-family: "Playwrite AR", cursive;  
}

body{
    background-image: url(../img/background1.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

main{
    margin-bottom: 200px;
}

header{
position:fixed;
top: 0;
left: 0;
width: 100%;
background-color:rgb(10, 10, 134);
opacity: 0.95;
text-align: center;
padding: 10px 0;
z-index: 1000;
}



h1{
    color:white;
    font-size: x-large;
}


.bloco1{
margin-top: 100px;
display: flex;
flex-direction: column;
padding: 3%;
}

.bloco1 > figure{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.bloco2{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: center;
}

.redes:hover{
    zoom: 150%;
}


h2{
    display: flex;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(10, 10, 134);
    border-radius: 10px;
    padding: 2%;
}

.bloco1 > p{
    color: white;
    font-size: large;
    text-align: justify;
    padding: 3%;
    width: 60%;
    margin: auto;
    background-color:rgb(10, 10, 134);
    opacity: 0.95;
    border-radius: 10px;
}

footer{
    background-color:rgb(10, 10, 134) ;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    font-size: 12px;
    
}

@media (max-width: 768px){

    body{
        background-image: url(../img/background2.jpg);
        background-attachment: fixed;
        
    }

    header{
        width:100%;
    }

   main{
    width: 100%;
   }

   .bloco1 > figure{
    display: flex;
    flex-shrink: 1;
}

    .bloco1> p{
        text-align:center;
    }

    footer{
        width: 100%;
    }

    

}








